<%# <div id="nav-container">

  <div class="inner-container" id="nav-inner-container">
    <%= image_tag "white-logo.png", width: 30 %>
    <%# <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
  </div> %>

  <%# <div id="nav-links">
    <a id="nav-link" href="#">Lessons</a>
    <a id="nav-link" href="#">About</a>
    <a id="nav-link" href="#">Videos</a>
    <a id="nav-link" href="#">Reviews</a>
    <a id="nav-link" href="#">Social Media</a>
  </div> %>

<%# </div> %>


<%# <div class="container mx-auto"> %>

  <%# <div class="row justify-content-center">
    <%# <div class="col-12 col-lg-6"> <%= image_tag "white-logo.png", width: 30 %>
    <%# <div class="col-sm-6"> <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i> </div>
  </div>
 %>
<%#
  <div class="flex items-center">

    <div class="">
      <%= image_tag "white-logo.png", width: 30 %>
    <%# </div>

    <div class="">
      <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
    <div>

  </div> %>


  <%# <div class="nav-links">
    <a class="nav-link" href="#">Lessons</a>
    <a class="nav-link" href="#">About</a>
    <a class="nav-link" href="#">Videos</a>
    <a class="nav-link" href="#">Reviews</a>
    <a class="nav-link" href="#">Social Media</a>
  </div> %>

<%# </div> %>
<%#
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <!-- This div is centered and takes 6 columns -->
      <h1>HEllo world</h1>
    </div>
  </div>
</div> %>

<div class="flex items-center">
  <img src="/app/assets/images/white-logo.png ">
  <div>
    <strong class="bg-blue-500">Andrew Alfred</strong>
    <span>Technical advisor</span>
  </div>
</div>
