<div data-controller="chevrons">
  <div class="home--background">
    <div class="container container--grow">
      <h1>Harmonizing Success for Music Teachers</h1>
      <p>Empowering music teachers with seamless management of bookings, payments and scheduling</p>
      <%= link_to "Book Now!", lessons_path, class: "button--book" %>
    </div>
    <div class="chevrons--container" data-action="click->chevrons#scroll">
      <i class="fa-solid fa-chevron-down"></i>
      <i class="fa-solid fa-chevron-down"></i>
    </div>
  </div>
  <div class="container mt-5" data-chevrons-target="explanation">
  <br><br><br>
    <div class="d-flex my-5" style="height: 35rem;">
      <div class="text-before-card">
        <h1 style="text-shadow: 0 0 1.5rem white;">My Journey</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam doloremque ipsum numquam autem quaerat, alias ab nostrum tenetur deserunt a maiores, voluptatibus commodi esse, quasi hic neque amet non voluptatem.
        Non optio sunt hic nulla reiciendis molestiae saepe fugiat ullam quam velit corrupti architecto ducimus incidunt, consectetur magni eius sequi nisi id pariatur minus! Eaque architecto dignissimos tempore debitis nihil?
        Quia, culpa amet quisquam laborum sed iure quo expedita et ad sint tempora. Consectetur eveniet minima quidem dignissimos, cum iste voluptatibus officiis fugit, mollitia necessitatibus impedit, doloremque eum numquam error.
        </p>
      </div>
      <%= image_tag "kiddrummer", class: "image-card" %>
    </div>
    <hr>
    <div class="d-flex my-5" style="height: 35rem;">
      <%= image_tag "drumcertificate", class: "image-card" %>
      <div class="text-after-card">
        <h1 style="text-shadow: 0 0 1.5rem white;">Musical Achievements</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam doloremque ipsum numquam autem quaerat, alias ab nostrum tenetur deserunt a maiores, voluptatibus commodi esse, quasi hic neque amet non voluptatem.
        Non optio sunt hic nulla reiciendis molestiae saepe fugiat ullam quam velit corrupti architecto ducimus incidunt, consectetur magni eius sequi nisi id pariatur minus! Eaque architecto dignissimos tempore debitis nihil?
        Quia, culpa amet quisquam laborum sed iure quo expedita et ad sint tempora. Consectetur eveniet minima quidem dignissimos, cum iste voluptatibus officiis fugit, mollitia necessitatibus impedit, doloremque eum numquam error.
        </p>
      </div>
    </div>
    <hr>
    <div class="d-flex my-5" style="height: 35rem;">
      <div class="text-before-card">
        <h1 style="text-shadow: 0 0 1.5rem white;">Musical Spacialisation</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam doloremque ipsum numquam autem quaerat, alias ab nostrum tenetur deserunt a maiores, voluptatibus commodi esse, quasi hic neque amet non voluptatem.
        Non optio sunt hic nulla reiciendis molestiae saepe fugiat ullam quam velit corrupti architecto ducimus incidunt, consectetur magni eius sequi nisi id pariatur minus! Eaque architecto dignissimos tempore debitis nihil?
        Quia, culpa amet quisquam laborum sed iure quo expedita et ad sint tempora. Consectetur eveniet minima quidem dignissimos, cum iste voluptatibus officiis fugit, mollitia necessitatibus impedit, doloremque eum numquam error.
        </p>
      </div>
      <%= image_tag "specialty", class: "image-card" %>
    </div>
    <hr>
  </div>
</div>

<!-- Carousel to be added when we have real data -->
<section style="margin-top: 8rem;">
  <div class="container text-center my-5">
    <h1 class="my-5" style="text-shadow: 0 0 1.5rem white;">What our students are saying</h1>

    <div class="container py-5">
      <div class="row text-center">
        <div class="col-md-4 mb-4 mb-md-0">
          <div class="card">
            <div class="card-body py-4 mt-2">
              <div class="d-flex justify-content-center mb-4">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp"
                  class="rounded-circle shadow-1-strong" width="100" height="100" />
              </div>
              <h5 class="font-weight-bold m-primary">Teresa May</h5>
              <h6 class="font-weight-bold my-3 m-primary">Founder at ET Company</h6>
              <ul class="list-unstyled d-flex justify-content-center">
                <li>
                  <i class="fas fa-star fa-sm text-info secondary"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info secondary"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info secondary"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info secondary"></i>
                </li>
                <li>
                  <i class="fas fa-star-half-alt fa-sm text-info secondary"></i>
                </li>
              </ul>
              <p class="mb-2 m-primary">
                <i class="fas fa-quote-left pe-2 secondary"></i>Lorem ipsum dolor sit amet,
                consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat
                ad velit ab hic tenetur.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4 mb-md-0">
          <div class="card">
            <div class="card-body py-4 mt-2">
              <div class="d-flex justify-content-center mb-4">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(15).webp"
                  class="rounded-circle shadow-1-strong" width="100" height="100" />
              </div>
              <h5 class="font-weight-bold m-primary">Maggie McLoan</h5>
              <h6 class="font-weight-bold my-3 m-primary">Photographer at Studio LA</h6>
              <ul class="list-unstyled d-flex justify-content-center">
                <li>
                  <i class="fas fa-star fa-sm text-info secondary"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info secondary"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info secondary"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info secondary"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info secondary"></i>
                </li>
              </ul>
              <p class="mb-2 m-primary">
                <i class="fas fa-quote-left pe-2 secondary"></i>Autem, totam debitis suscipit saepe
                sapiente magnam officiis quaerat necessitatibus odio assumenda perferendis
                labore laboriosam.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-0">
          <div class="card">
            <div class="card-body py-4 mt-2">
              <div class="d-flex justify-content-center mb-4">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(17).webp"
                  class="rounded-circle shadow-1-strong" width="100" height="100" />
              </div>
              <h5 class="font-weight-bold m-primary">Alexa Horwitz</h5>
              <h6 class="font-weight-bold my-3 m-primary">Front-end Developer in NY</h6>
              <ul class="list-unstyled d-flex justify-content-center">
                <li>
                  <i class="fas fa-star fa-sm text-info secondary"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info secondary"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info secondary"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info secondary"></i>
                </li>
                <li>
                  <i class="far fa-star fa-sm text-info secondary"></i>
                </li>
              </ul>
              <p class="mb-2 m-primary">
                <i class="fas fa-quote-left pe-2 secondary"></i>Cras sit amet nibh libero, in gravida
                nulla metus scelerisque ante sollicitudin commodo cras purus odio,
                vestibulum in tempus viverra turpis.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer has been edited with <i class="fas fa-heart"></i> by Luca
  </div>
</footer>
