<h1>This is the index page</h1>

<% @lessons.each do |lesson| %>

<div class="card-container">
  <div class="card-description">
    <h4> <%= lesson.name %> <h4>
    <p><%= lesson.description %></p>
  </div>
  <button><%= link_to lesson_path(lesson.id) do%>
    Learn more
  </button>
  <% end %>
</div>
<% end %>
