<h1>This is the index page</h1>
<div class="container">
  <div class="cards">
    <% @lessons.each do |lesson| %>
      <%= link_to lesson_path(lesson) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path("music-teacher") %>);">
          <h4> <%= lesson.name %> <h4>
          <p><%= lesson.description %></p>
        <p>Learn more</p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
