.button--book {
  background-color: $m-primary;
  opacity: 0.8;
  color: $m-text;
  padding: 8px 16px;
  border-radius: 20px;
  text-decoration: none;
  text-shadow: 0px 0px 1px $secondary;
  transition: all 0.3s;
}

.button--book:hover {
  opacity: 1;
  box-shadow: 1px 1px 12px $secondary;
  scale: 1.01;
  color: inherit;
  transform: translateY(-2px);
}
