// @media (min-width: 576px) {
//   .container-show {
//     width: 80%;
//     margin-right: auto;
//     margin-left: auto;

//   }
// }

.container-show-page {
  font-size: 50px;
}

.container-show h1 {
  font-size: 80px;
  color: yellow !important;
}


.card-show-product {
  overflow: hidden;
  height: 120px;
  width: 95%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}


.card-show-product img {
  height: 100%;
  width: 80px;
  object-fit: cover;
}

.card-show-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-show-product p {
  font-size: 50px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-show-product .card-show-product-infos {
  padding: 16px;
}
